@import "index.css";

.container {
  align-items: center;
  justify-content: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 10px;
}

.formstyle {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 10px;
  padding: 5px;
  border: solid black 3px;
  border-radius: 8px;
  align-items: center;
  background-color: var(--backgroundColorsec);
}

.formstyle input {
  width: 70%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 8px;
}

.formstyle .text {
  margin-right: 15%;
  margin-left: 15%;
}

.formstyle .submit {
  background-color: var(--primaryColor);
  color: white;
  padding: 3px;
  margin-right: 15%;
  margin-left: 15%;

}

.formstyle .submit:hover {
  background-color: var(--primaryColorsec);
}